{{define "title"}}About{{end}}

{{define "main"}}
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis velit massa. Maecenas aliquam dignissim odio, egestas congue diam volutpat vitae. Etiam a iaculis risus. Fusce at elementum massa, vitae consequat leo. Donec justo magna, ornare vitae pellentesque nec, mattis eget purus. Aliquam in risus sed quam posuere gravida sed vel ligula. Nunc nec laoreet lacus, nec condimentum leo. Nullam vulputate facilisis est eu ornare.</p>
{{end}}
